*{
    margin: 0;
    box-sizing: border-box;
}

th, td{
    border: solid 1px;
    text-align: center;
}

thead{
    background-color: darkgray;
}

.modelos{
    background-color: greenyellow;
}

tfoot>tr>th{
    text-align: right;
}

table{
    width: 300px;
    border-collapse: collapse;
}