<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web 39</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <p>
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </p>
        <a href="/pagina2">Pagina2</a>
    </main>
</body>
</html>