th, td{
    border-style: solid;
    text-align: center;
}

#titulotabla{
    
}

.eie{
    background-color: greenyellow;
}
.aw{
    background-color: yellow;
}
.si{
    background-color: cyan;
}
.sr{
    background-color: red;
}
.lep{
    background-color: tomato;
}
.sor{
    background-color: slategrey;
}

@media (min-width: 700px){

}