th{
    border-style: solid;
}

.eie{
    background-color: greenyellow;
}
.aw{
    background-color: yellow;
}
.si{
    background-color: cyan;
}
.sr{
    background-color: red;
}
.lep{
    background-color: tomato;
}
.sor{
    background-color: slategrey;
}