th, td{
    border-style: solid;
    text-align: center;
}

#titulotabla{
    resize: both;
}

tbody > tr > td > span{
    display: none;
}

thead > tr > th > span{
    display: none;
}

tfoot > tr > td {
    text-align: right;
}

.eie{
    background-color: greenyellow;
}
.aw{
    background-color: yellow;
}
.si{
    background-color: cyan;
}
.sr{
    background-color: red;
}
.lep{
    background-color: tomato;
}
.sor{
    background-color: slategrey;
}

.desayuno{
    background-color: darkkhaki;
}

.actividades{
    background-color: darkolivegreen;
}

.comida{
    background-color: darkseagreen;
}

@media (min-width: 700px){

    thead > tr > th > span{
        display: block;
    }

    thead > tr > th > abbr{
        display: none;
    }

    tbody > tr > td > span{
        display: block;
    }

    tbody > tr > td > abbr{
        display: none;
    }

    ol{
        display: none;
    }
}